<div style="background-color: #ba68c8" id="port">
    <div class="container">
        <div data-aos="fade-up">
            <h1 class="text-center pt-5">Portfolio !</h1>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card mb-3" data-aos="fade-right" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://images.pexels.com/photos/8817543/pexels-photo-8817543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    height="200px" weidth="100px" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A,
                                        iusto aliquid voluptas natus suscipit delectus quidem vel corrupti
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-3" data-aos="fade-left"style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://images.pexels.com/photos/9694301/pexels-photo-9694301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                    height="200px" weidth="100px" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A,
                                        iusto aliquid voluptas natus suscipit delectus quidem vel corrupti
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card mb-3" data-aos="fade-right" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://images.pexels.com/photos/8817543/pexels-photo-8817543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    height="200px" weidth="100px" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A,
                                        iusto aliquid voluptas natus suscipit delectus quidem vel corrupti
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-3" data-aos="fade-left"style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://images.pexels.com/photos/9694301/pexels-photo-9694301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                    height="200px" weidth="100px" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A,
                                        iusto aliquid voluptas natus suscipit delectus quidem vel corrupti
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card mb-3" data-aos="fade-right" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://images.pexels.com/photos/8817543/pexels-photo-8817543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    height="200px" weidth="100px" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A,
                                        iusto aliquid voluptas natus suscipit delectus quidem vel corrupti
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-3" data-aos="fade-left"style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://images.pexels.com/photos/9694301/pexels-photo-9694301.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                    height="200px" weidth="100px" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A,
                                        iusto aliquid voluptas natus suscipit delectus quidem vel corrupti
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>